<ion-header>
  <ion-toolbar color="primary">
    <ion-title>VIVAELMÚSCULO</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Gracias por Registrarte!</p>
  <p>Ahora podrás disfrutar de las ventajas de ser cliente de VivaElMusculo</p>

  <form  (ngSubmit)="onSubmit('1')">
  <ion-button color="primary" class="submit-btn" expand="full" type="submit">Nuevo Cliente</ion-button>
  </form>
</ion-content>

